#!/usr/local/bin/make -f                                                                                                                                           
STAMPDIR=tgz2build/stamps

CONFIGURE_OPTS := --prefix=/dialog --with-ncurses --disable-xterm
LDFLAGS_STATIC=$(LDFLAGS) -static
CONFIGURE_CMD=LDFLAGS="$(LDFLAGS_STATIC)" ./configure $(CONFIGURE_OPTS)

ifneq (,$(findstring solaris,$(ZBS_DIST)))
    LIBS="-Wl,-Bstatic -L/usr/local/lib -lncurses -Wl,-Bdynamic -L/usr/lib -lc"
    CONFIGURE_CMD=LIBS=$(LIBS) ./configure $(CONFIGURE_OPTS)
endif

all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: setup
	$(CONFIGURE_CMD)
	touch $@

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(MAKE)
	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	if test ! `uname` = "FreeBSD" ; then \
		mkdir -p $(ZBS_STAGE_DIR)/dialog/terminfo ; \
		cd terminfo && TERMINFO=$(ZBS_STAGE_DIR)/dialog/terminfo \
			tic terminfo.src ; \
	fi
	touch $@
clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

.PHONY: build clean binary-indep binary-arch binary install
