#!/usr/local/bin/make -f
STAMPDIR=tgz2build/stamps

CONFIGURE_OPTS := --prefix=/dialog --with-ncurses --disable-xterm --disable-nls --disable-setlocale

all: binary
binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: setup
	./configure $(CONFIGURE_OPTS)
	# Force linking libc dynamically, while everything else is linked statically.
	# Reason: libc can crash if it is linked statically, everything else must be linked statically,
	# as we do not ship ncurses as a separate dependency.
	sed -e 's%\(-L/usr/lib -lncurses -lm\)%-Wl,-Bstatic \1 -Wl,-Bdynamic%' makefile > makefile2
	mv makefile2 makefile
	touch $@

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(MAKE)
	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	mkdir -p $(ZBS_STAGE_DIR)/dialog/terminfo
	cd terminfo && TERMINFO=$(ZBS_STAGE_DIR)/dialog/terminfo tic terminfo.src
	touch $@
clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

.PHONY: build clean binary-indep binary-arch binary install
